.index-page .footer {
  background-color: #2F303A;
  margin: 0 auto;
  height: 252px;
}
.index-page .footer__logo {
  padding-top: 62px;
  padding-bottom: 25px;
}
.index-page .footer__gmail {
  padding-bottom: 15px;
  color: rgba(255, 255, 255, 0.6);
}
.index-page .footer__list {
  display: flex;
  align-items: center;
  position: relative;
  left: 45px;
}
.index-page .footer__icon {
  width: 44px;
  height: 44px;
  max-width: 44px;
  max-height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  fill: white;
}
.index-page .footer__icon:hover {
  background-color: #2196F3;
  animation-name: div-backround-color;
  animation-duration: 0.5s;
}
@keyframes div-backround-color {
  0% {
    background-color: rgba(255, 255, 255, 0.1);
  }
  100% {
    background-color: #2196F3;
  }
}
.index-page .footer__svg {
  min-width: 20px;
  min-height: 20px;
  position: relative;
  left: 12px;
  top: 12px;
}
.index-page .footer__item-socials {
  display: flex;
  flex-wrap: wrap;
  max-width: 207px;
  max-height: 80px;
  gap: 10px;
  margin-left: 95px;
}
.index-page .footer__title {
  font-size: 14px;
  color: white;
  width: 163px;
  text-transform: uppercase;
}
.index-page .footer__subscribe-title {
  font-size: 14px;
  color: white;
  text-transform: uppercase;
  font-weight: 700;
}
.index-page .footer__input {
  max-width: 358px;
  width: 358px;
  height: 50px;
  max-height: 50px;
  border-radius: 4px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
.index-page .footer__input::-moz-placeholder {
  font-size: 16px;
  font-family: Roboto;
  color: rgba(255, 255, 255, 0.6);
  position: relative;
  left: 15px;
}
.index-page .footer__input::placeholder {
  font-size: 16px;
  font-family: Roboto;
  color: rgba(255, 255, 255, 0.6);
  position: relative;
  left: 15px;
}
.index-page .footer__btn {
  padding-right: 63px;
  width: 200px;
  height: 54px;
  @incl border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  font-size: 16px;
  font-family: Roboto;
  font-weight: 700;
  max-width: 200px;
  padding-left: 16px;
  position: absolute;
}
.index-page .footer__item {
  margin-left: 93px;
}
.index-page .footer__send-svg {
  position: relative;
  left: 148px;
  top: 7px;
}
.index-page .footer__addres {
  color: white;
  padding-bottom: 15px;
}
.index-page .footer__tel {
  display: block;
  color: rgba(255, 255, 255, 0.6);
  margin-top: 17px;
}
.index-page .hero {
  margin-top: 15px;
  padding-top: 208px;
  text-align: center;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(/img/Img.png);
  background-repeat: no-repeat;
}
.index-page .hero__title {
  color: white;
  padding-bottom: 41px;
  font-weight: 900;
  text-transform: uppercase;
}
.index-page .hero__button {
  background-color: #2196F3;
  color: white;
  border: solid #2196F3;
  padding-left: 33px;
  padding-right: 33px;
  padding-top: 19px;
  padding-bottom: 19px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1490196078);
}
.index-page .hero__back-drop {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
}
.index-page .hero__back-drop:not(.is-hidden) .hero__modal {
  transform: translate(-50%, -50%);
  opacity: 1;
}
.index-page .hero__intro-text {
  font-size: 20px;
  margin-top: 40px;
}
.index-page .hero__back-drop .hero__modal.show {
  opacity: 1;
  transform: translateY(0);
}
.index-page .hero__modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 50vh);
  min-width: 528px;
  min-height: 581px;
  background-color: white;
  transform: translate(-50%, 100%);
  transition: all ease-in-out 0.5s;
}
.index-page .hero__form {
  font-size: 20px;
  min-width: 448px;
  min-height: 23px;
  font-weight: 700;
  margin-top: 10px;
  position: relative;
  justify-content: center;
}
.index-page .hero__name {
  position: relative;
  left: 20px;
  text-align: start;
  font-size: 12px;
  color: #757575;
}
.index-page .hero__label:focus-within svg {
  color: #2196F3;
}
.index-page label {
  font-size: 0;
}
.index-page .hero__input {
  width: 448px;
  height: 40px;
  padding-left: 35px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}
.index-page .hero__input:focus {
  outline: 1px solid #2196F3;
}
.index-page .hero__user-svg {
  z-index: 1;
  position: relative;
  right: 480px;
  top: 5px;
}
.index-page .hero__user {
  position: relative;
  left: 11px;
}
.index-page .hero__tel {
  position: relative;
  left: 11px;
}
.index-page .hero__email {
  position: relative;
  left: 11px;
}
.index-page .hero__text-tel {
  position: relative;
  text-align: start;
  left: 20px;
  font-size: 12px;
  color: #757575;
}
.index-page .hero__tel-svg {
  position: relative;
  right: 91%;
  top: 5px;
  z-index: 1;
}
.index-page .hero__email-section {
  fill: #2196F3;
}
.index-page .hero__text-email {
  position: relative;
  text-align: start;
  left: 20px;
  font-size: 12px;
  color: #757575;
}
.index-page .hero__email-svg {
  position: relative;
  right: 91%;
  top: 5px;
  z-index: 1;
}
.index-page .hero__input:focus {
  outline: 1px solid #2196F3;
}
.index-page .hero__text-comentar {
  position: relative;
  text-align: start;
  left: 20px;
  font-size: 12px;
  color: #757575;
}
.index-page textarea {
  width: 484px;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}
.index-page textarea:focus {
  outline: 1px solid #2196F3;
}
.index-page .hero__privacy-policy {
  position: relative;
  right: 10px;
}
.index-page .is-hidden {
  opacity: 0;
  pointer-events: none;
}
.index-page .hero__checkbox {
  max-width: 16px;
  max-height: 15px;
  position: absolute;
  left: 85%;
}
.index-page .hero__text-privacy-policy {
  font-size: 14px;
  color: #757575;
}
.index-page .hero__button {
  margin-bottom: 174px;
}
.index-page span {
  color: #2196F3;
  border-bottom: 1px solid #2196F3;
}
.index-page .hero__btn-send {
  width: 200px;
  height: 50px;
  max-width: 200px;
  max-height: 50px;
  background-color: #2196F3;
  color: white;
  border: solid #2196F3;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
.index-page .hero__close {
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: absolute;
  bottom: 540px;
  left: 485px;
  min-width: 30px;
  min-height: 30px;
  right: 505px;
}
.index-page .hero__close:hover {
  fill: #2196F3;
}
.index-page .hero__svg-close {
  position: relative;
  top: 25%;
}
.index-page .features__list {
  margin-top: 94px;
  display: flex;
  justify-content: center;
  gap: 30px;
}
.index-page .features__list-item {
  padding-top: 94px;
  max-width: 270px;
  height: 248px;
}
.index-page .features__title {
  padding-bottom: 17px;
  font-size: 14px;
}
.index-page .features__text {
  color: #757575;
  font-size: 14px;
  max-width: 270px;
}
.index-page .features__item:nth-child(1)::before {
  content: url(/img/antenna.png);
  width: 250px;
  height: 120px;
  display: block;
  text-align: center;
  background-color: #F5F4FA;
  line-height: 180px;
}
.index-page .features__item:nth-child(2)::before {
  content: url(/img/clock.png);
  width: 250px;
  height: 120px;
  display: block;
  text-align: center;
  background-color: #F5F4FA;
  line-height: 180px;
}
.index-page .features__item:nth-child(3)::before {
  content: url(/img/diagram.png);
  width: 250px;
  height: 120px;
  display: block;
  text-align: center;
  background-color: #F5F4FA;
  line-height: 180px;
}
.index-page .features__item:nth-child(4)::before {
  content: url(/img/astronaut.png);
  width: 250px;
  height: 120px;
  display: block;
  text-align: center;
  background-color: #F5F4FA;
  line-height: 180px;
}
.index-page .activities {
  margin-top: 208px;
}
.index-page .activities__title {
  text-align: center;
  padding-bottom: 50px;
  font-size: 36px;
}
.index-page .activities__list {
  display: flex;
  justify-content: center;
  gap: 30px;
}
.index-page .activities__subtitle {
  color: white;
  text-transform: uppercase;
  text-align: center;
  position: relative;
  bottom: 92px;
  font-size: 14px;
  font-weight: 700;
  font-family: Roboto;
  padding: 30px;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8));
}
.index-page .employees {
  background-color: #F5F4FA;
  height: 708px;
}
.index-page .employees__list {
  gap: 30px;
  display: flex;
  justify-content: center;
  margin-bottom: 120px;
}
.index-page .employees__title {
  text-align: center;
  padding-top: 101px;
  font-size: 36px;
}
.index-page .employees__item {
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
  height: 428px;
  text-align: center;
}
.index-page .employees__name {
  font-size: 16px;
}
.index-page .employees__text {
  font-size: 16px;
  color: #757575;
}
.index-page .employees__img {
  max-width: 270px;
  max-height: 260px;
}
.index-page .employees__icon {
  max-width: 44px;
  max-height: 44px;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  fill: #AFB1B8;
}
.index-page .employees__icon:hover {
  background-color: #2196F3;
  fill: white;
}
.index-page .employees__icon::before {
  left: -20px;
  content: "";
  position: absolute;
  width: 5px;
  height: 100%;
  background: rgba(233, 227, 227, 0.5);
  transform: skewX(-25deg);
}
.index-page .employees__icon:hover::before {
  animation-name: shine;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
.index-page .employees__icon-list {
  display: flex;
  gap: 10px;
  justify-content: center;
}
@keyframes shine {
  0% {
    left: -25%;
  }
  100% {
    left: 125%;
  }
}
.index-page .employees__svg {
  position: relative;
  top: 12px;
}
.index-page .clients {
  text-align: center;
  margin-bottom: 94px;
}
.index-page .clients__svg {
  position: relative;
  top: 25%;
}
.index-page .clients__list {
  display: flex;
  gap: 30px;
  justify-content: center;
  text-align: center;
}
.index-page .clients__item {
  width: 170px;
  height: 92px;
  max-width: 170px;
  max-height: 92px;
  border-radius: 4px;
  border: 1px solid #AFB1B8;
  fill: #AFB1B8;
}
.index-page .clients__item:hover {
  border: 1px solid #2196F3;
  fill: #2196F3;
  animation-name: svg-animation;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
@keyframes svg-animation {
  0% {
    fill: rgba(33, 150, 243, 0.6);
    border: 1px solid rgba(33, 150, 243, 0.6);
  }
  50% {
    border: 1px solid #2196F3;
    fill: #2196F3;
  }
  100% {
    fill: rgba(33, 150, 243, 0.6);
    border: 1px solid rgba(33, 150, 243, 0.6);
  }
}
.index-page .nav__contacts::after, .index-page .nav__portfolio::after, .index-page .nav__studio::after {
  content: "";
  border: solid #2196F3;
  background-color: #2196F3;
  position: absolute;
  width: 43px;
  border-radius: 2px;
  display: flex;
  opacity: 0;
  transition-duration: 300ms;
  transition-timing-function: linear;
}
.index-page .nav__contacts:hover::after, .index-page .nav__portfolio:hover::after, .index-page .nav__studio:hover::after {
  transform: translate(0, 30px);
  opacity: 1;
}
.index-page .nav {
  display: flex;
  padding-top: 30px;
}
.index-page .nav__item:hover {
  color: #2196F3;
  fill: #2196F3;
}
.index-page .nav__logo {
  align-items: center;
  margin-right: 80px;
  font-family: "Raleway";
}
.index-page .nav__item {
  align-items: center;
  color: #212121;
  margin-right: 50px;
}
.index-page .nav__mail {
  color: #757575;
  margin-left: 260px;
  margin-right: 50px;
}
.index-page .nav__mail:hover {
  color: #2196F3;
  fill: #2196F3;
}
.index-page .nav__tel {
  color: #757575;
}
.index-page .nav__tel:hover {
  color: #2196F3;
  fill: #2196F3;
}
.index-page .nav__mail-item {
  position: relative;
  bottom: 20px;
}
.index-page .nav__phone-item {
  position: relative;
  bottom: 20px;
}
.index-page .nav__studio {
  padding-right: 0;
  transition-duration: 500ms;
  transition-timing-function: linear;
}
.index-page .nav__portfolio {
  transition-duration: 300ms;
  transition-timing-function: linear;
}
.index-page .nav__portfolio::after {
  width: 74px;
}
.index-page .nav__contacts {
  transition-duration: 500ms;
  transition-timing-function: linear;
}
.index-page .nav__contacts::after {
  width: 64px;
}
.index-page a {
  text-decoration: none;
}
.index-page .mail__svg {
  fill: #757575;
  position: relative;
  left: 235px;
  top: 20px;
}
.index-page .phone__svg {
  fill: #757575;
  position: relative;
  right: 20px;
  top: 21px;
}

.portfolio-page .footer {
  background-color: #2F303A;
  margin: 0 auto;
  height: 252px;
}
.portfolio-page .footer__logo {
  padding-top: 62px;
  padding-bottom: 25px;
}
.portfolio-page .footer__gmail {
  padding-bottom: 15px;
  color: rgba(255, 255, 255, 0.6);
}
.portfolio-page .footer__list {
  display: flex;
  align-items: center;
  position: relative;
  left: 45px;
}
.portfolio-page .footer__icon {
  width: 44px;
  height: 44px;
  max-width: 44px;
  max-height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  fill: white;
}
.portfolio-page .footer__icon:hover {
  background-color: #2196F3;
  animation-name: div-backround-color;
  animation-duration: 0.5s;
}
@keyframes div-backround-color {
  0% {
    background-color: rgba(255, 255, 255, 0.1);
  }
  100% {
    background-color: #2196F3;
  }
}
.portfolio-page .footer__svg {
  min-width: 20px;
  min-height: 20px;
  position: relative;
  left: 12px;
  top: 12px;
}
.portfolio-page .footer__item-socials {
  display: flex;
  flex-wrap: wrap;
  max-width: 207px;
  max-height: 80px;
  gap: 10px;
  margin-left: 95px;
}
.portfolio-page .footer__title {
  font-size: 14px;
  color: white;
  width: 163px;
  text-transform: uppercase;
}
.portfolio-page .footer__subscribe-title {
  font-size: 14px;
  color: white;
  text-transform: uppercase;
  font-weight: 700;
}
.portfolio-page .footer__input {
  max-width: 358px;
  width: 358px;
  height: 50px;
  max-height: 50px;
  border-radius: 4px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
.portfolio-page .footer__input::-moz-placeholder {
  font-size: 16px;
  font-family: Roboto;
  color: rgba(255, 255, 255, 0.6);
  position: relative;
  left: 15px;
}
.portfolio-page .footer__input::placeholder {
  font-size: 16px;
  font-family: Roboto;
  color: rgba(255, 255, 255, 0.6);
  position: relative;
  left: 15px;
}
.portfolio-page .footer__btn {
  padding-right: 63px;
  width: 200px;
  height: 54px;
  background-color: #2196F3;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: white;
  border: solid #2196F3;
  font-size: 16px;
  font-family: Roboto;
  font-weight: 700;
  max-width: 200px;
  padding-left: 16px;
  position: absolute;
}
.portfolio-page .footer__item {
  margin-left: 93px;
}
.portfolio-page .footer__send-svg {
  position: relative;
  left: 148px;
  top: 7px;
}
.portfolio-page .footer__addres {
  color: white;
  padding-bottom: 15px;
}
.portfolio-page .footer__tel {
  display: block;
  color: rgba(255, 255, 255, 0.6);
  margin-top: 17px;
}
.portfolio-page .nav__contacts::after, .portfolio-page .nav__portfolio::after, .portfolio-page .nav__studio::after {
  content: "";
  border: solid #2196F3;
  background-color: #2196F3;
  position: absolute;
  width: 43px;
  border-radius: 2px;
  display: flex;
  opacity: 0;
  transition-duration: 300ms;
  transition-timing-function: linear;
}
.portfolio-page .nav__contacts:hover::after, .portfolio-page .nav__portfolio:hover::after, .portfolio-page .nav__studio:hover::after {
  transform: translate(0, 30px);
  opacity: 1;
}
.portfolio-page .nav {
  display: flex;
  padding-top: 30px;
}
.portfolio-page .nav__item:hover {
  color: #2196F3;
  fill: #2196F3;
}
.portfolio-page .nav__logo {
  align-items: center;
  margin-right: 80px;
  font-family: "Raleway";
}
.portfolio-page .nav__item {
  align-items: center;
  color: #212121;
  margin-right: 50px;
}
.portfolio-page .nav__mail {
  color: #757575;
  margin-left: 260px;
  margin-right: 50px;
}
.portfolio-page .nav__mail:hover {
  color: #2196F3;
  fill: #2196F3;
}
.portfolio-page .nav__tel {
  color: #757575;
}
.portfolio-page .nav__tel:hover {
  color: #2196F3;
  fill: #2196F3;
}
.portfolio-page .nav__mail-item {
  position: relative;
  bottom: 20px;
}
.portfolio-page .nav__phone-item {
  position: relative;
  bottom: 20px;
}
.portfolio-page .nav__studio {
  padding-right: 0;
  transition-duration: 500ms;
  transition-timing-function: linear;
}
.portfolio-page .nav__portfolio {
  transition-duration: 300ms;
  transition-timing-function: linear;
}
.portfolio-page .nav__portfolio::after {
  width: 74px;
}
.portfolio-page .nav__contacts {
  transition-duration: 500ms;
  transition-timing-function: linear;
}
.portfolio-page .nav__contacts::after {
  width: 64px;
}
.portfolio-page a {
  text-decoration: none;
}
.portfolio-page .mail__svg {
  fill: #757575;
  position: relative;
  left: 235px;
  top: 20px;
}
.portfolio-page .phone__svg {
  fill: #757575;
  position: relative;
  right: 20px;
  top: 21px;
}
.portfolio-page .buttons {
  padding-top: 120px;
  padding-bottom: 50px;
  display: flex;
  justify-content: center;
  gap: 10px;
}
.portfolio-page .buttons__button {
  padding-left: 23px;
  padding-right: 23px;
  padding-top: 13px;
  padding-bottom: 13px;
  background-color: #F5F4FA;
  color: #212121;
  border: none;
  border-radius: 4px;
}
.portfolio-page .buttons__button:hover {
  background-color: #2196F3;
  color: white;
  border-radius: 4px;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.1215686275);
  animation-name: color-btn;
  animation-duration: 1s;
  animation-timing-function: ease;
}
@keyframes color-btn {
  0% {
    background-color: #F5F4FA;
    color: #212121;
  }
  100% {
    background-color: #2196F3;
    color: white;
  }
}
.portfolio-page .grids {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.portfolio-page .grids__item {
  flex-basis: 23.3333333333%;
}
.portfolio-page .grids__item:hover {
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.1607843137);
}
.portfolio-page .grids__item:hover .grids__overlay-text {
  transform: translateY(-310px);
}
.portfolio-page .grids__img {
  max-width: 365px;
}
.portfolio-page .grids__title {
  font-size: 18px;
  padding-top: 26px;
  padding-bottom: 16px;
}
.portfolio-page .grids__overlay-text {
  max-width: 322px;
  max-height: 294px;
  height: 294px;
  font-size: 18px;
  transition-duration: 1s;
  transition-timing-function: ease;
  position: absolute;
  padding-top: 75px;
  font-weight: 400;
  color: white;
  padding-left: 24px;
  padding-right: 24px;
  background-color: rgba(33, 150, 243, 0.9);
}
.portfolio-page .grids__overlay {
  display: block;
  overflow: hidden;
  max-width: 370px;
  max-height: 294px;
  position: relative;
}

ul {
  list-style: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  padding-inline-start: 0px;
}

body {
  font-family: "Roboto";
}/*# sourceMappingURL=style.css.map */