
@import "./variables.scss" ;
@mixin decoratuve-img{
    width: 250px;
    height: 120px;
    display: block;
    text-align: center;
    background-color: $backround-color;
    line-height: 180px;
}
@mixin color-btn($color){
    background-color: $decorative-color;
    color: white;
    border: solid  $decorative-color ;
}